<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test thread-count="5" name="Test">
    <classes>
      <class name="practice.jiomart.signup"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test1">
    <classes>
      <class name="practice.jiomart.homepage"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test2">
    <classes>
      <class name="practice.jiomart.search_filter"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test3">
    <classes>
      <class name="practice.jiomart.cart"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test4">
    <classes>
      <class name="practice.jiomart.itemDetails"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test5">
    <classes>
      <class name="practice.jiomart.UserProfile"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test6">
    <classes>
      <class name="practice.jiomart.category"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test7">
    <classes>
      <class name="practice.jiomart.Wishlist"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->


      
      
      